.programs-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

  width: 80%;
  margin: 0 auto;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
